.agregar {
    width: auto !important;
}

button {
    width: auto;
}

#create {
    color: black;
    margin-right: 1px;
    
    margin-right: 8px;
}

#delete {
    color: red;
}

mat-card-actions{
    margin-left: 1px;
}

mat-icon:hover {
    background-color: rgb(117, 104, 104);
    border-radius: 10%;
}

