<div class="agregar_producto container mt-3">
    <h1>Agregar producto</h1>
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Nombre</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="text-help" placeholder="Ingresar nombre del producto">
          <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
        </div><br>
        <div class="form-group">
          <label for="exampleInputPassword1">Cantidad</label>
          <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Ingresar cantidad">
        </div><br>
        <div class="form-group">
            <label for="exampleInputPassword1">Cantidad</label>
            <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Ingresar cantidad">
          </div><br>
        <button type="submit" class="btn btn-primary mr-3">Agregar</button><br>
        <button type="submit" class="btn btn-danger">Cancelar</button>
      </form>
</div>