
<mat-card>
  <mat-card-title><strong>Registrar Producto</strong></mat-card-title>
  <mat-card-subtitle align="end">Productos/Nuevo Producto</mat-card-subtitle>
  <hr>
  <mat-card-content>
    <div align="end"> 
      <button (click)="ngSalir()" mat-icon-button color="warn">
        <mat-icon>keyboard_return</mat-icon>
      </button>
    </div>
    <form [formGroup]="agregarForm"><!--La funci´pn submit será la que creamos, pasamos el grupo que creamos-->
      <div class="form-group">
        <label for="">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre_producto" [ngClass]="{ 'is-invalid': form['nombre_producto'].errors }"  placeholder="Ingresar nombre del producto"><!--pasamos el formControl que son las propiedades, en ngClass => es invalido si la propiedad nombre de error-->
        <div *ngIf="form['nombre_producto'].errors" class="invalid-feedback"><!--Si el error es verdadero, mostrará este segmento-->
          <div *ngIf="form['nombre_producto'].errors?.['required'] ">El nombre es obligatorio</div><!--Si hay un error de que la propiedad es requerida ebtonces mostrará este segmento-->
        </div>
      </div><br>
      <div class="form-group">
        <label for="">Cantidad</label>
        <input type="number" class="form-control" formControlName="cantidad_producto" [ngClass]="{ 'is-invalid' : form['cantidad_producto'].errors}" placeholder="Ingresar cantidad">
        <div *ngIf="form['cantidad_producto'].errors" class="invalid-feedback">
          <div *ngIf="form['cantidad_producto'].errors?.['required']">La cantidad es obligatoria</div>
        </div>
      </div><br>
      <div class="form-group">
          <label for="">Precio</label>
          <input type="number" class="form-control" formControlName="precio_producto" [ngClass]="{ 'is-invalid' : form['precio_producto'].errors}" placeholder="Ingresar precio">
          <div *ngIf="form['precio_producto'].errors" class="invalid-feedback">
            <div *ngIf="form['precio_producto'].errors?.['required']">El precio es obligatorio</div>
          </div>
      </div><br>
    </form>
  </mat-card-content>
  <hr>
  <mat-card-actions align="end">
    <button type="submit"  class="btn btn-primary m-1"  (click)="onSubmit()"  [disabled]="agregarForm.invalid">Agregar</button>
    <button type="reset" class="btn btn-danger m-1" routerLink="/productos/listado" (click)="onReset()">Cancelar</button>
  </mat-card-actions>
</mat-card>