<h1 class="container mt-3">Listado de Productos</h1>
<div class="table_productos container">
  <table class="table table-striped table-hover mt-3">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio</th>
        <th scope="col">Opción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productosService.DATA_SOURCE; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{producto.nombre_producto}}</td>
        <td>{{producto.cantidad_producto}}</td>
        <td>{{producto.precio_producto | currency}}</td>
        <td><button class="btn btn-primary" routerLink="/productos/listado/editar/{{producto.id_producto}}" (click)="getOneProducto(producto.id_producto)">Editar</button><button class="btn btn-danger">Eliminar</button></td>
      </tr>
    </tbody>
</table>
<button class="agregar btn btn-primary" routerLink="/productos/listado/agregar/undefined">Agregar</button>
</div>