/* You can add global styles to this file, and also import other style files */

.text-Spinner {
    color: white;
}

mat-card {
    margin: 15px;
    border-radius: 15px !important;
    background-color: rgb(244, 244, 244);
}
